{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID: " %}</dt>
    <dd>{{ chain.id }}</dd>

    <dt>{% trans "Tenant ID: " %}</dt>
    <dd>{{ chain.tenant_id }}</dd>

    <dt>{% trans "Name: " %}</dt>
    <dd>{{ chain.name }}</dd>

    <dt>{% trans "Description: " %}</dt>
    <dd>{{ chain.description }}</dd>

    <dt>{% trans "Template ID: " %}</dt>
    <dd>{{ chain.service_chain_template_id }}</dd>

    <dt>{% trans "Source Network: " %}</dt>
    <dd>{{ chain.source_network }}</dd>

    <dt>{% trans "Destination Network: " %}</dt>
    <dd>{{ chain.destination_network }}</dd>

    <dt>{% trans "List of Services: " %}</dt>
    <dd>{{ chain.services_list }}</dd>

    <dt>{% trans "Admin State: " %}</dt>
    <dd>{{ chain.admin_state_up }}</dd>

    <dt>{% trans "Status: " %}</dt>
    <dd>{{ chain.status }}</dd>
  </dl>
</div>
