{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID: " %}</dt>
    <dd>{{ template.id }}</dd>

    <dt>{% trans "Tenant ID: " %}</dt>
    <dd>{{ template.tenant_id }}</dd>

    <dt>{% trans "Name: " %}</dt>
    <dd>{{ template.name }}</dd>

    <dt>{% trans "Description: " %}</dt>
    <dd>{{ template.description }}</dd>

    <dt>{% trans "List of Service Types: " %}</dt>
    <dd>{{ template.services_types_list }}</dd>

  </dl>
</div>
