{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID: " %}</dt>
    <dd>{{ lb.id }}</dd>

    <dt>{% trans "Tenant ID: " %}</dt>
    <dd>{{ lb.tenant_id }}</dd>

    <dt>{% trans "Name: " %}</dt>
    <dd>{{ lb.name }}</dd>

    <dt>{% trans "Description: " %}</dt>
    <dd>{{ lb.description }}</dd>

    <dt>{% trans "Vips: " %}</dt>
    <dd>{{ lb.vips_list }}</dd>

    <dt>{% trans "Admin State: " %}</dt>
    <dd>{{ lb.admin_state_up }}</dd>
  </dl>
</div>
