{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID: " %}</dt>
    <dd>{{ firewall.id }}</dd>

    <dt>{% trans "Tenant ID: " %}</dt>
    <dd>{{ firewall.tenant_id }}</dd>

    <dt>{% trans "Name: " %}</dt>
    <dd>{{ firewall.name }}</dd>

    <dt>{% trans "Description: " %}</dt>
    <dd>{{ firewall.description }}</dd>

    <dt>{% trans "Policy: " %}</dt>
    <dd>{{ firewall.firewall_policy_id }}</dd>

    <dt>{% trans "Status: " %}</dt>
    <dd>{{ firewall.status }}</dd>

    <dt>{% trans "Admin State: " %}</dt>
    <dd>{{ firewall.admin_state_up }}</dd>
  </dl>
</div>
