{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID: " %}</dt>
    <dd>{{ policy.id }}</dd>

    <dt>{% trans "Tenant ID: " %}</dt>
    <dd>{{ policy.tenant_id }}</dd>

    <dt>{% trans "Name: " %}</dt>
    <dd>{{ policy.name }}</dd>

    <dt>{% trans "Description: " %}</dt>
    <dd>{{ policy.description }}</dd>

    <dt>{% trans "Rules: " %}</dt>
    <dd>{{ policy.firewall_rules_list }}</dd>

    <dt>{% trans "Audited: " %}</dt>
    <dd>{{ policy.audited }}</dd>
  </dl>
</div>
